@import "./../../../styles/padroes/padroes.scss";

.botao-menu {
  // position: fixed;
  // top: 25px;
  // right: 30px;
  display: block;
  z-index: 5;
  padding-right: 10px;
}

.botao-menu.active {
  padding-right: 10px;
  display: none;
  // position: fixed;
  // top: 42px;
  // right: 30px;
  // z-index: 5;
}
.botao-fechar {
  margin-right: 40px;
  // position: fixed;
  // top: 5px;
  // right: 10px;
  // z-index: 5;
}

.menu-container {
  // transition: opacity 0.3s ease-in-out;
  // visibility: hidden;
  // opacity: 0;
  opacity: 0.5;
  // transform: translateX(-500px);
  display: none;
  z-index: -5;
  width: 0;
  height: 0;
}
.menu-container.active {
  // transition: opacity 0.3s ease-in-out;
  // visibility: visible;
  // opacity: 1;
  opacity: 1;
  inset: 0;
  transform: translateX(0);
  display: block;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: auto;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: $dark-main-color;
  overflow-y: scroll;
  .link-home {
    margin: 0;
  }
  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 20px;
    @include fullscreen;
    margin-top: -20px;
    svg {
      padding: 30px;
      padding-top: 20px;
      cursor: pointer;
    }
    a {
      height: fit-content;
      display: flex;
    }
  }
  .menu-body {
    display: flex;
    flex-direction: column;
    padding-block: 13% 25%;
    gap: 1.5rem;
    .institutional-links {
      @include padrao;
      font-weight: 100;
      font-size: 2rem;
      color: $text-contrast;
      text-decoration: none;
      margin: 0;
    }
  }
  .menu-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .menu-address {
      display: flex;
      flex-direction: column;
      h5 {
        @include padrao;
        font-size: 0.75rem;
        font-weight: 500;
        color: #8a8a8a;
        margin-block: 0 0.5rem;
      }
      p {
        @include padrao;
        font-size: 0.875rem;
        color: $text-contrast;
        margin-block: 0;
      }
    }
    .menu-social-media {
      display: flex;
      flex-direction: column;
      .menu-social-media-wrapper {
        display: flex;
        gap: 2rem;
      }
      h5 {
        @include padrao;
        font-size: 0.75rem;
        font-weight: 500;
        color: #8a8a8a;
        margin-block: 0 0.5rem;
      }
      a {
        @include padrao;
        font-size: 0.875rem;
        color: $text-contrast;
        gap: 0.5rem;
        display: flex;
        align-items: center;
        margin-block: 0;
      }
    }
  }
}
