@import "./../../../styles/padroes/padroes.scss";

.card-container-change {
  @include padrao;
}

.card-link-container {
  background: $background;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  // padding: 10px;
}
.card-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: $background;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  transition: background-color 0.3s ease;
  svg {
    max-width: 35px;
    max-height: 35px;
  }
}

.card-links-ativo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: $light-main-color;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  color: #fff;
  svg {
    max-width: 35px;
    max-height: 35px;
  }
  svg path {
    fill: #fff;
  }
}

.card-container {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: $background;
  border-radius: 10px;
  gap: 20px;
  max-width: 978px;
  height: 178px;
  svg {
    width: 120px;
  }
  .card-title {
    color: $light-main-color;
    font-size: 1.25rem;
    font-weight: 500;
  }
  .card-text {
    font-size: 1rem;
  }
}

.card-container-ativo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: $background;
  border-radius: 10px;
  gap: 20px;
  max-width: 978px;
  height: 178px;
  svg {
    width: 120px;
  }
  .card-title {
    color: $light-main-color;
    font-size: 1.25rem;
    font-weight: 500;
  }
  .card-text {
    font-size: 1rem;
  }
}
