@import "./../../../styles/padroes/padroes.scss";

p,
h2,
h3 {
  margin: unset;
}


.testimony-main-container {
  overflow: hidden;
  margin-inline: -20px;
}


.testimony-titles-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 1.5rem;
  gap: 1.5rem;

  .testimony-title {
    color: $title-card;
    text-align: center;
    font-size: .75rem;
    font-family: $fontFamily;
    font-weight: 500;
    text-transform: uppercase;
  }

  .testimony-subtitle {
    color: $text;
    text-align: center;
    font-size: 2rem;
    font-family: $fontFamily;
    font-weight: 300;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 1008px) {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }
}

.slick-slider {
  position: relative;

  .slick-prev, 
  .slick-next {
    background: none;
    border: none;
    // background-color: red;
    opacity: 0.75;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }

  button.slick-prev {
    left: 24%; /* Altere para ajustar a posição */
  }

  button.slick-next {
    right: 25%; /* Altere para ajustar a posição */
  }
  
  .slick-prev::before {
    content: url('../../../assets/svg/left-arrow.svg');
    display: block;
  }

  .slick-next::before {
    content: url('../../../assets/svg/right-arrow.svg');
    display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
    font-size: 0px;
  }
}

.testimonial-slide {

  .testimonial-content {
    display: flex;
    flex-direction: column;
    background-color: $gray-main-color;
    padding: 20px;
    border-radius: 10px;
    gap: 1rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 1008px) {
      padding: 48px 52px;
      margin-bottom: 80px;
    }

    .testimonial-profile {
      display: flex;
      align-items: center;
      gap: .75rem;

      .testimonial-name-position {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .testimonial-name {
          color: $text;
          font-family: $fontFamily;
          font-weight: 400;
        }

        .testimonial-position {
          color: $text;
          font-family: $fontFamily;
          font-size: .875rem;
          font-weight: 100;
        }
      }
    }

    .testimonial-desciption {

      .testimonial-description-content {
        color: $text;
        font-family: $fontFamily;
        font-size: .875rem;
        font-style: italic;
        font-weight: 300;
        line-height: 1.5rem;

        @media screen and (min-width: 1008px) {
          font-size: 1.125rem;
          line-height: 2rem;
        }
      }
    }

    .testimonial-video {

      .testimonial-button-video {
        padding: .875rem 1rem;
        border-radius: 8px;
        border: 1px solid $light-main-color;
        background: none;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
        color: $light-main-color;
        cursor: pointer;
      }

    }
  }
}

.slick-track {
  display: flex !important;
  // gap: 8px;
}

.slick-slide {
  transition: all 0.5s ease;
}

.slick-center .testimonial-content {
  transform: scale(1);
}

.slick-slide:not(.slick-center) {
  opacity: 0.6;
  filter: grayscale(100%);
  transform: scale(0.9);

  @media screen and (min-width: 1008px) {
    opacity: 1;
    filter: blur(3px);
    transform: scale(.75);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  /* Fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  width: 65%;
  overflow-y: auto;
  z-index: 1001;

  @media screen and (min-width: 1008px) {
  }

  .modal-content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    aspect-ratio: 9 / 16;
    max-height: 100%;

    @media screen and (min-width: 1008px) {
      aspect-ratio: 16 / 9;
    }
  
    .modal-close-button {
      top: -10px;
      position: absolute;
      right: -6px;
      z-index: 999;
    }
  }
}

