@import "./../../../styles/padroes/padroes.scss";

.testimony-main-container {
  overflow: hidden;
  margin-inline: -20px;
  background: $text-contrast;
}

@media screen and (min-width: 1008px) {
  .testimony-main-container {
    overflow: hidden;
    margin-inline: -220px;
  }
}


.testimony-titles-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0;
  gap: 1.5rem;

  .testimony-title {
    color: $title-card;
    text-align: center;
    font-size: .75rem;
    font-family: $fontFamily;
    font-weight: 500;
    margin: unset;
    text-transform: uppercase;
  }

  .testimony-subtitle {
    color: $text;
    text-align: center;
    font-size: 2rem;
    font-family: $fontFamily;
    font-weight: 300;
    margin: unset;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 1008px) {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }
}

.slick-slider {
  position: relative;

  .slick-prev,
  .slick-next {
    background: none;
    border: none;
    // background-color: red;
    opacity: 0.75;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }

  button.slick-prev {
    left: 27.9%;
    /* Altere para ajustar a posição */
  }

  button.slick-next {
    right: 31.1%;
    /* Altere para ajustar a posição */
  }

  .slick-prev::before {
    content: url('../../../assets/svg/left-arrow.svg');
    display: block;
  }

  .slick-next::before {
    content: url('../../../assets/svg/right-arrow.svg');
    display: block;
  }
}

.testimonial-slide {


  .testimonial-content {
    display: flex;
    flex-direction: column;
    background-color: $gray-main-color;
    padding: 20px;
    border-radius: 10px;
    gap: 1rem;
    margin-bottom: 2rem;
    height: 345px;
    justify-content: center;

    @media screen and (min-width: 1008px) and (max-width: 1200px) {
      height: 420px;
    }

    @media screen and (min-width: 1201px) {
      padding: 48px 52px;
      margin-bottom: 80px;
      height: 355px;
      justify-content: center;
    }

    .testimonial-profile {
      display: flex;
      align-items: center;
      gap: .75rem;

      .testimonial-name-position {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .testimonial-name {
          color: $text;
          font-family: $fontFamily;
          font-size: 1rem;
          margin: unset;
          font-weight: 500;
        }

        .testimonial-position {
          color: $text;
          font-family: $fontFamily;
          font-size: .875rem;
          margin: unset;
          font-weight: 300;
        }
      }

      .testimonial-image {
        max-width: 60px;
      }
    }

    .testimonial-desciption {

      .testimonial-description-content {
        color: $text;
        font-family: $fontFamily;
        font-size: 12px;
        font-style: italic;
        font-weight: 300;
        line-height: 1.5rem;
        margin: unset;

        @media screen and (min-width: 1008px) {
          font-size: 1rem;
          line-height: 2rem;
        }

        span {
          font-weight: 600;
        }
      }
    }

    .testimonial-video {

      .testimonial-button-video {
        @include padrao;
        cursor: pointer;
        font-size: .75rem;
        background: $light-main-color;
        width: 180px;
        display: flex;
        padding: 12px 40px;
        border-radius: 8px;
        border: none;
        color: $text-contrast;
        gap: 10px;
        justify-content: center;
        text-decoration: none;
        align-items: center;
        white-space: nowrap;
      }

      @media screen and (min-width: 1008px) {
        .testimonial-button-video {
          @include padrao;
          cursor: pointer;
          font-size: .75rem;
          background: $light-main-color;
          width: 180px;
          display: flex;
          padding: 12px 40px;
          border-radius: 8px;
          border: none;
          color: $text-contrast;
          gap: 20px;
          text-decoration: none;
          justify-content: flex-start;
          align-items: center;
          transition: ease-in-out 0.6s;
          animation: ease-in-out 0.6s;
          white-space: nowrap;

          &:hover {
            background: $dark-main-color;
            width: 200px;

            .testiomonial-video-arrow {
              display: block;
              width: fit-content;
              transition: fadeIn ease-in-out 0.6s;
              animation: fadeIn ease-in-out 0.6s;
            }
          }

          .testiomonial-video-arrow {
            display: none;
          }

          @keyframes fadeIn {
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }
        }
      }

    }
  }
}

.slick-track {
  display: flex !important;
  // gap: 8px;
}

.slick-slide {
  transition: all 0.5s ease;
}

.slick-center .testimonial-content {
  transform: scale(1);
}

.slick-slide:not(.slick-center) {
  opacity: 1;
  filter: blur(3px);
  transform: scale(0.9);

  @media screen and (min-width: 1008px) {
    opacity: 1;
    filter: blur(3px);
    transform: scale(.75);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  /* Fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modal-content {
  position: relative;
  border-radius: 8px;
  max-width: 800px;
  z-index: 1001;

  width: 100%;
  border-radius: 8px;

  .modal-content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    z-index: 1001;
    aspect-ratio: 9 / 16;
    max-height: 100%;

    @media screen and (min-width: 1008px) {
      aspect-ratio: 16 / 9;
    }

    .modal-close-button {
      top: 140px;
      position: absolute;
      right: 78px;
      border-radius: 4px;
      border: none;
      background: none;
      z-index: 999;
    }

    @media screen and (min-width: 1008px) {
      .modal-close-button {
        top: 4px;
        position: absolute;
        right: 4px;
        border-radius: 4px;
        border: none;
        background: none;
        z-index: 999;
  
        img:hover {
          filter: opacity(0.8);
          cursor: pointer;
        }
      }
    }
    
    .modal-navigation {
      position: relative;
      width: 65%;
      border-radius: 10px;
      aspect-ratio: 9 / 16;

      @media screen and (min-width: 1008px) {
        width: 100%;
        aspect-ratio: 16 / 9;
      }
    }

    .modal-arrow-left {
      position: absolute;
      top: 45%;
      left: -70px;
      cursor: pointer;
      background: none;
      border: none;
    }

    .modal-arrow-right {
      position: absolute;
      top: 45%;
      right: -70px;
      cursor: pointer;
      background: none;
      border: none;
    }
  }
}