@import "@/styleGuide.scss";


body {
  margin: 0;
}

.header-container {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 5;
  transition: top 0.5s ease;
  .headercontainer-layout {
    padding: 20px 20px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      padding-left: 10px;
      @media (max-width: 1008px) {
        padding-left: 0;
      }
    }
  }
}

.header-container-ativo {
  transition: top 0.5s ease;
  margin: auto;
  position: fixed;
  top: 10px;
  box-sizing: border-box;
  z-index: 5;
  width: 100%;
  // padding-block: 20px;
  .headercontainer-layout {
    padding: 15px 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
    box-shadow: $boxShadow;
    border-radius: 10px;
    svg {
      padding-left: 10px;
    }
  }
}

.home-link {
  margin: 0;
}
