@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.sobre-nos-container {
  margin-inline: 20px;
  margin-top: 70px; }
  .sobre-nos-container .first-block {
    max-width: unset !important;
    margin-inline: -20px;
    background: #0d98e6; }
    .sobre-nos-container .first-block-tittle {
      margin-inline: 20px;
      font-family: "Raleway", serif;
      font-style: normal;
      font-weight: 300;
      line-height: 1.5;
      color: #353a42;
      font-weight: 300;
      font-size: 2rem;
      line-height: 1.1;
      color: #fff;
      padding-block: 40px 10px; }
    .sobre-nos-container .first-block-text {
      margin-inline: 20px;
      font-family: "Raleway", serif;
      font-style: normal;
      font-weight: 300;
      line-height: 1.5;
      color: #353a42;
      font-weight: 400;
      font-size: 0.875rem;
      color: #fff;
      line-height: 1.5rem; }
    .sobre-nos-container .first-block .office-img {
      width: 100%; }
