@import "./../../../styles/padroes/padroes.scss";

.sobre-nos-container {
  margin-inline: $globalMarginMob;
  margin-top: 70px;

  .first-block {
    @include fullscreen;
    background: $light-main-color;
    &-tittle {
      margin-inline: $globalMarginMob;
      @include padrao;
      font-weight: 300;
      font-size: 2rem;
      line-height: 1.1;
      color: $text-contrast;
      padding-block: 40px 10px;
    }
    &-text {
      margin-inline: $globalMarginMob;
      @include padrao;
      font-weight: 400;
      font-size: 0.875rem;
      color: $text-contrast;
      line-height: 1.5rem;
    }
    .office-img {
      width: 100%;
    }
  }
}
