@import "./../../../styles/padroes/padroes.scss";

.video-fixed {
  position: fixed;
  bottom: clamp(10px, 5%, 20px);
  left: 20px;
  width: 60px;
  height: 100px;
  z-index: 1000;
  border: 2px solid $light-main-color;
  padding: 2px;
  border-radius: 4px;
  max-height: calc(100vh - 40px);
  cursor: pointer;
}

.video-fixed video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: $text-contrast;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.modal {
  position: relative;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  outline: none;
  cursor: auto;

  @media screen and (max-width: 1008px) {
    width: 65%;
  }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: 1008px) {
    right: -1px;
  }
}

.modal-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 43%;
  width: 100%;
}

.prev-button {
  position: absolute;
  z-index: 1999999999;
  background: none;
  border: none;
  left: -70px;
  font-size: 2rem;
  cursor: pointer;

  @media screen and (max-width: 1008px) {
    left: -26%;
  }
}

.next-button {
  position: absolute;
  z-index: 1999999999;
  background: none;
  border: none;
  right: -70px;
  font-size: 2rem;
  cursor: pointer;

  @media screen and (max-width: 1008px) {
    left: 98%;
  }
}

.modal-video {
  width: 100%;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: -8px;
  right: 4px;
  background: none;
  border: none;
  z-index: 99999999;
  font-size: 2rem;

  &:hover {
    filter: opacity(0.5);
    cursor: pointer;
  }
}

