@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header-container-desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  background: #fff;
  position: fixed;
  top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 5;
  margin-inline: 250px;
  width: calc(100% - 500px);
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease; }
  @media (min-width: 1600px) {
    .header-container-desk {
      margin-inline: 350px;
      width: calc(100% - 700px); } }

.header-container-desk-ativo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  position: fixed;
  top: 20px;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 5;
  width: calc(100% - 500px);
  margin-inline: 250px; }
  @media (min-width: 1600px) {
    .header-container-desk-ativo {
      margin-inline: 350px;
      width: calc(100% - 700px); } }

.headercontainer-desk-layout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-container-institucional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 15px; }

.header-container-links {
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #353a42;
  text-decoration: none;
  color: #353a42;
  font-weight: 400;
  font-size: 1.125rem; }
  .header-container-links:hover {
    text-decoration: underline;
    color: #0d98e6; }
