@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$fontFamily: "Raleway", serif;
$boxShadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
$globalMarginDesk: 250px;
$globalMarginMob: 20px;
$dark-main-color: #053766;
$light-main-color: #0d98e6;
$gray-main-color: #f7f7f7;
$text: #353a42;
$text-contrast: #fff;
$title-card: #8a8a8a;
$background: #f5f5f7;


@mixin padrao {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  // letter-spacing: 0.5px;
  color: $text;
}

@mixin title {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  color: $text;
  font-size: 2.5rem;
  @media (min-width: 1800px) {
    font-size: 3rem;
  }
}

@mixin fullscreen {
  max-width: unset !important;
  margin-inline: -$globalMarginMob;
  @media (min-width: 1008px) {
    max-width: unset !important;
    margin-inline: -$globalMarginDesk;
    @media (min-width: 1600px) {
      margin-inline: -350px;
    }
  }
}

$fontFamily: var(--font-raleway);

$fontSize1: 0.75rem;
$fontSize2: 0.875rem;
$fontSize3: 1rem;
$fontSize4: 1.125rem;
$fontSize5: 1.25rem;
$fontSize6: 1.5rem;
$fontSize7: 2rem;
$fontSize8: 2.5rem;
$fontSize9: 3rem;

$weight1: 300;
$weight2: 400;
$weight3: 500;
$weight4: 600;
$weight5: 700;
$weight6: 800;
$weight7: 900;

@mixin padrao {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: $text;
}

@mixin title {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  color: $text;
  font-size: 2.5rem;
  @media (min-width: 1800px) {
    font-size: 3rem;
  }
}

// colors

$dark-main-color: #053766;
$light-main-color: #0d98e6;
$gray-main-color: #f7f7f7;

$text: #353a42;
$text-contrast: #fff;
$title-card: #8a8a8a;

$background: #f5f5f7;

$color--brand-primary: #e91034;
$color--brand-secundary: #d71136;
$color--brand-tertiary: #bf1238;
$color--brand-quaternary: #ac133a;

$color--brand-secondary-150: #dbad83;
$color--brand-secondary-500: #93133c;

$pure-black: #000;
$pure-white: #fff;

$neutral-200: #f5f5f5;
$neutral-400: #c2c2c2;
$neutral-600: #bababa;
$neutral-700: #f3f3f3;
$neutral-800: #1e1e1e;
$neutral-900: #353a42;
 
//elements

$boxShadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);

$globalMarginDesk: 250px;
$globalMarginMob: 20px;

@mixin fullscreen {
  max-width: unset !important;
  margin-inline: -$globalMarginMob;
  @media (min-width: 1008px) {
    max-width: unset !important;
    margin-inline: -$globalMarginDesk;
    @media (min-width: 1600px) {
      margin-inline: -350px;
    }
  }
}

@mixin btn1 {
  border: 1px solid $pure-white;
  border-radius: 62.5rem;
  padding: 0.9375rem 1.5rem;
  background: $color--brand-secondary-500;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

@mixin btn2 {
  border: 1px solid $pure-white;
  border-radius: 62.5rem;
  padding: 0.9375rem 1.5rem;
  background: $color--brand-primary;
  border: 1px solid $color--brand-secondary-500;
}

@mixin btn3 {
  padding: 0.9375rem 2rem;
  border-radius: 62.5rem;
  border: 1px solid $color--brand-secondary-500;
  background: $color--brand-primary;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

